:root {
    --bg-color: #d4d4d4;
    --primary: #fefefe;
    --accent: #38B2DF;
    --font-black: #202020;
    --font-white: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(rgba(71, 71, 71, 0.377), rgba(73, 73, 73, 0.363)), url(./sunny\(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 0 75px;
}

section.main-weather-info {
    display: flex;

    form {
        display: flex;
        align-items: center;

        input[type="search"] {
            width: 20rem;
            border: 2px solid #9b9b9b;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 20px 0;
            background-color: #fefefe9d;
        }
    
        input[type="search"]:focus {
            outline: none;
        }

        img {
            position: relative;
            right: 26px;
        }
    }

    > .weather-info {
        position: absolute;
        top: 10%;
        transform: (0, -10%);

        .condition {
            font-size: 1.6rem;
        }

        .place {
            font-size: 2.2rem;
        }

        h1 {
            margin: 0;
            display: inline-block;
            font-size: 5rem;
        }

        h3 {
            font-size: 1.6rem;
        }
    }
}

section.hourly {
    margin-top: 30rem;
    overflow-x: hidden;

    > div {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        height: 40px;
        gap: 5px;

        button.dot {            
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: relative;
            top: 10%;
            margin: 0 3px;
            background-color: transparent;
            border: 2px solid #fefefe;
            cursor: pointer;
        }

        button.dot:hover {
            background-color: #666666;
        }

        button.active {
            background-color: #000000;
        }

        span {
            font-size: 3.3rem;
            cursor: pointer;
        }
    }

    > .hourly-forecast {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        gap: 6rem;
        font-weight: 900;
        font-size: 1.5rem;
        transition: ease 0.7s;

        > .hourly-container {
            flex: 200px 0 0;

            img {
                margin: 10px 0;
                width: 75px;
                height: 75px;
            }
        }
    }
}