:root {
    --bg-color: #d4d4d4;
    --primary: #fefefe;
    --accent: #38B2DF;
    --font-black: #202020;
    --font-white: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(./sunny.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    height: 100%;
}


input[type="search"] {
    width: 15rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 15px 0;
}