:root {
    --bg-color: #d4d4d4;
    --primary: #fefefe;
    --accent: #38B2DF;
    --font-black: #202020;
    --font-white: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(rgba(71, 71, 71, 0.377), rgba(73, 73, 73, 0.363)), url(./sunny\(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

main {
    padding: 0 125px;
}

form {
    margin-top: 45px;

    input[type="search"] {
        width: 20rem;
        border: 2px solid #9b9b9b;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #fefefe9d;
    }

    input[type="search"]:focus {
        outline: none;
    }
    
    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

    > img {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
        right: 35px;
    }
}

section.main-weather-info {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;

    > .weather-info {

        .condition {
            font-size: 1.6rem;
        }

        .place {
            font-size: 2.2rem;
        }

        h1 {
            margin: 0;
            display: inline-block;
            font-size: 5rem;
        }

        h3 {
            font-size: 1.6rem;
        }
    }

    > .additional-info {
        display: flex;
        flex-direction: column;
        gap: 25px;

        > div {
            display: flex;
            gap: 15px;
        }
        
    }
}

section.hourly {
    margin-top: 10rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;

    > div {
        display: flex;
        align-items: center;
        height: 40px;
        gap: 5px;

        button.dot {            
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: relative;
            top: 10%;
            margin: 0 3px;
            background-color: transparent;
            border: 2px solid #fefefe;
            cursor: pointer;
        }

        button.dot:hover {
            background-color: #666666;
        }

        button.active {
            background-color: #000000;
        }

        span {
            font-size: 3.3rem;
            cursor: pointer;
        }
    }

    > .hourly-forecast {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        gap: 5rem;
        font-weight: 900;
        font-size: 1.5rem;
        transition: ease 0.7s;

        > .hourly-container {
            flex: 200px 0 0;

            img {
                margin: 10px 0;
                width: 75px;
                height: 75px;
            }
        }
    }
}

/* Smallest screen */
@media only screen and (max-width: 480px) {
    body {
        background-size: cover;
    }

    main {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="search"], img {
            flex: initial;
        }
    }

    section.main-weather-info {
        
        > .weather-info {

            .condition {
                font-size: 1rem;
            }
    
            .place {
                font-size: 1.6rem;
            }
    
            h1 {
                margin: 0;
                display: inline-block;
                font-size: 3rem;
            }
    
            h3 {
                font-size: 1rem;
            }
        }    
        
        > .additional-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            > div {
                flex: initial;
                display: flex;
                gap: 15px;
            }
            
        }
    }

    section.hourly {
        margin-top: 10rem; /* Adjust margin-top for smaller screens */
    }
}